DTD/ex15/order.dtd

<!ELEMENT order (tractor+)>
<!ELEMENT tractor (component+)>
<!ELEMENT component (delivery_date?, weight, serial_number, max_km)>
<!ATTLIST component manufacturer_name CDATA #REQUIRED>
<!ATTLIST component fragile (yes | no) #REQUIRED>
<!ELEMENT serial_number (#PCDATA)>
<!ELEMENT delivery_date (#PCDATA)>
<!ELEMENT weight (#PCDATA)>
<!ATTLIST weight unit (kilos | grams) #REQUIRED>
<!ELEMENT max_km (#PCDATA)>